<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">My informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Edit my informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Change my password</a>
        </li>
        <li>
            <a href="#">My Bills</a>
        </li>
        <li>
            <a href="#">My Addresses</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
        </li>
    </ul>
</div>